    <!-- Header -->
      <nav class="navbar navbar-inverse navbar-fixed-left leftmenu bg-primary" style="flex-direction: column">

            <div class="toc-zone pt-md-5 d-none d-lg-block">
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="about-text">Contents</h5>
                        <div class="toc pt-md-2" id="main" >
                            $toc$
                        </div>
                    </div>
                </div>

            </div>

            <div class ="row coolFont pt-md-3 justify-content-center">
                <div class="col-md-12">
                    $for(tagsList)$
                        <span class="tag-block"  style="display:inline-block; padding-bottom: 0.2em"> <a class="btn btn-outline-dark btn-tag" href="../tags/$tag$">$tag$</a> </span>
                    $endfor$
                </div>
            </div>

            <div class="pt-md-3 about-text">
                <div class="row justify-content-center pt-md-2">
                    <div class="col-md-12">
                        <h6><a href="../posts"> Posts </a></h6>
                    </div>
                </div>
                <div class="row justify-content-center pt-md-2">
                    <div class="col-md-12">
                        <h6><a href="/"> About me </a></h6>
                    </div>
                </div>

                <div class="row justify-content-center pt-md-2 d-none d-md-block">
                    <div class="col-md-12">
                        <h6 class="text-uppercase">Around the web</h6>
                    </div>
                </div>

                <div class="row justify-content-center pt-md-2 d-none d-md-block">
                    <div class="col-md-12" >
                            <ul class="list-inline mb-0 mx-auto">

                                <li class="list-inline-item my-auto">
                                    <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://github.com/epicallan" target="_blank">
                                    <i class="fa fa-fw fa-github"></i>
                                    </a>
                                </li>

                                <li class="list-inline-item my-auto">
                                    <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://twitter.com/epicallan" target="_blank">
                                    <i class="fa fa-fw fa-twitter"></i>
                                    </a>
                                </li>

                                <li class="list-inline-item my-auto">
                                    <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.linkedin.com/in/allan-lukwago" target="_blank">
                                        <i class="fa fa-fw fa-linkedin"></i>
                                        </a>
                                <li class="list-inline-item my-auto">


                                </ul>
                    </div>
                </div>
            </div>
      </nav>
      <div class="container info">
          <h2 class="text-center text-uppercase" >$title$</h2>
          <div class="content">
          <div class="row post">
              <div class="col-12 post-body">
              <p class="lead">
                  $body$
                </p>
                <br>
                <p>Published on: $date$</p>
                <br>
                <p>
                    My blog is hosted on <a href="https://github.com/epicallan/epicallan.github.io" target="_blank">Github</a>. If you would like to leave a comment or report a problem please feel free to
                    leave one there.
                </p>
              </div>
          </div>
          </div>
      </div>
